namespace {{rootNamespace}}{{#newline}}
{{{#newline}}
    using System;{{#newline}}
    {{#newline}}
    public partial class ChromeSession{{#newline}}
    {{{#newline}}
{{#each domains}}
        private Lazy<{{#dehumanize}}{{Name}}{{/dehumanize}}.{{#dehumanize}}{{Name}}{{/dehumanize}}Adapter> m_{{#dehumanize}}{{Name}}{{/dehumanize}};{{#newline}}
{{/each}}
{{#newline}}
        public ChromeSession(){{#newline}}
        {{{#newline}}
{{#each domains}}
            m_{{#dehumanize}}{{Name}}{{/dehumanize}} = new Lazy<{{#dehumanize}}{{Name}}{{/dehumanize}}.{{#dehumanize}}{{Name}}{{/dehumanize}}Adapter>(() => new {{#dehumanize}}{{Name}}{{/dehumanize}}.{{#dehumanize}}{{Name}}{{/dehumanize}}Adapter(this));{{#newline}}
{{/each}}
        }{{#newline}}
{{#newline}}
{{#each domains}}
        /// <summary>{{#newline}}
        /// Gets the adapter for the {{Name}} domain.{{#newline}}
        /// </summary>{{#newline}}
        public {{#dehumanize}}{{Name}}{{/dehumanize}}.{{#dehumanize}}{{Name}}{{/dehumanize}}Adapter {{#dehumanize}}{{Name}}{{/dehumanize}}{{#newline}}
        {{{#newline}}
            get { return m_{{#dehumanize}}{{Name}}{{/dehumanize}}.Value; }{{#newline}}
        }{{#newline}}
        {{#newline}}
{{/each}}
    }{{#newline}}
}
