namespace {{rootNamespace}}.{{domain.Name}}
{
    /// <summary>
    /// {{command.Description}}
    /// </summary>
    public sealed class {{className}}Command
    {
    {{#each command.Parameters}}
        /// <summary>
        /// {{Description}}
        /// </summary>
        public {{#typemap domain this knownTypes}}{{Type}}{{/typemap}} {{#dehumanize}}{{Name}}{{/dehumanize}}
        {
            get;
            set;
        }
    {{/each}}
    }
}