namespace {{rootNamespace}}.{{domain.Name}}
{
    /// <summary>
    /// {{event.Description}}
    /// </summary>
    [Event("{{domain.Name}}.{{event.Name}}")]
    public sealed class {{className}}Event : IEvent
    {
    {{#each event.Parameters}}
        {{#if Description}}
        /// <summary>
        /// {{Description}}
        /// </summary>
        {{#else}}
        /// <summary>
        /// Gets or sets the {{Name}}
        /// </summary>
        {{/if}}
        public {{#typemap domain this knownTypes}}{{Type}}{{/typemap}} {{#dehumanize}}{{Name}}{{/dehumanize}}
        {
            get;
            set;
        }
    {{/each}}
    }
}