namespace {{rootNamespace}}.{{domain.Name}}
{
    using Newtonsoft.Json;

    /// <summary>
    /// {{type.Description}}
    /// </summary>
    [JsonConverter(typeof(StringClassConverter))]
    public sealed class {{className}}
    {
        private string m_value;
        
        public {{className}}(string value)
        {
            m_value = value;
        }

        public override string ToString()
        {
            return m_value;
        }

        public override bool Equals(object obj)
        {
            return m_value.Equals(obj);
        }

        public override int GetHashCode()
        {
            return m_value.GetHashCode();
        }

    {{#each type.Enum}}
        public static {{className}} {{#dehumanize}}{{this}}{{/dehumanize}} = new {{className}}("{{this}}");
    {{/each}}
    }
}