namespace {{rootNamespace}}.{{domain.Name}}
{
    using Newtonsoft.Json;
    using Newtonsoft.Json.Converters;
    using System.Runtime.Serialization;

    /// <summary>
    /// {{type.Description}}
    /// </summary>
    [JsonConverter(typeof(StringEnumConverter))]
    public enum {{className}}
    {
    {{#each type.Enum}}
        [EnumMember(Value = "{{this}}")]
        {{#dehumanize}}{{this}}{{/dehumanize}},
    {{/each}}
    }
}