namespace {{rootNamespace}}.{{domain.Name}}
{
    using Newtonsoft.Json;

    /// <summary>
    /// {{type.Description}}
    /// </summary>
    public sealed class {{className}}
    {
    {{#each type.Properties}}
        /// <summary>
        /// {{Description}}
        ///</summary>
        [JsonProperty("{{Name}}"{{#if Optional}}, DefaultValueHandling = DefaultValueHandling.Ignore{{/if}})]
        public {{#typemap this context}}{{Type}}{{/typemap}} {{#dehumanize}}{{Name}}{{/dehumanize}}
        {
            get;
            set;
        }
    {{/each}}
    }
}