namespace {{rootNamespace}}.{{domain.Name}}
{
    /// <summary>
    /// {{type.Description}}
    /// </summary>
    public sealed class {{className}}
    {
    {{#each type.Properties}}
        /// <summary>
        /// {{Description}}
        ///</summary>
        public {{#typemap domain this knownTypes}}{{Type}}{{/typemap}} {{#dehumanize}}{{Name}}{{/dehumanize}}
        {
            get;
            set;
        }
    {{/each}}
    }
}